In [1]:
# PRE MATCH PREDICTING MODEL #
#models for predicting game outcomes;

# Dependencies
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
# Store filepath in a variable
path = "champion_matchups_2019_table.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
master_df = pd.read_csv(path, encoding="ISO-8859-1")

In [4]:
master_df.columns

Index(['game_id', 'jg_result', 'jg_matchup', 'jg_k', 'jg_a', 'jg_d', 'jg_cs',
       'jg_op_cs', 'jg_gold', 'jg_damage', 'jg_matchup_strength', 'top_result',
       'top_matchup', 'top_k', 'top_a', 'top_d', 'top_cs', 'top_op_cs',
       'top_gold', 'top_damage', 'top_matchup_strength', 'mid_result',
       'mid_matchup', 'mid_k', 'mid_a', 'mid_d', 'mid_cs', 'mid_op_cs',
       'mid_gold', 'mid_damage', 'mid_matchup_strength', 'bot_result',
       'bot_matchup', 'bot_k', 'bot_a', 'bot_d', 'bot_cs', 'bot_op_cs',
       'bot_gold', 'bot_damage', 'bot_matchup_strength', 'sup_result',
       'sup_matchup', 'sup_k', 'sup_a', 'sup_d', 'sup_cs', 'sup_op_cs',
       'sup_gold', 'sup_damage', 'sup_matchup_strength'],
      dtype='object')

In [5]:
master_df.head()

,game_id,jg_result,jg_matchup,jg_k,jg_a,jg_d,jg_cs,jg_op_cs,jg_gold,jg_damage,...,sup_result,sup_matchup,sup_k,sup_a,sup_d,sup_cs,sup_op_cs,sup_gold,sup_damage,sup_matchup_strength
0,1131400,blue win,"Skarner , Rek'Sai",1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,...,blue win,"Lux , Nautilus",1.35,11.050000,1.750000,7.785714,23.428571,9414.214286,7493.714286,22.0
1,1144855,blue win,"Jarvan IV , Hecarim",4.000000,9.500000,3.500000,101.0,107.500000,13534.000000,8771.000000,...,blue win,"Galio , Rakan",0.50,9.666667,3.000000,25.750000,6.000000,8316.000000,4139.750000,-2.0
2,1092075,blue win,"Gragas , Jarvan IV",2.250000,7.500000,1.500000,83.0,91.666667,11376.000000,10066.333333,...,blue win,"Rakan , Tahm Kench",0.80,11.600000,1.466667,5.692308,28.000000,9215.000000,6079.769231,2.0
3,1124632,blue win,"Gragas , Sylas",5.000000,9.500000,2.000000,98.0,87.000000,15218.000000,24118.000000,...,blue win,"Braum , Nautilus",0.50,11.700000,2.600000,24.500000,25.375000,9528.750000,4912.625000,2.0
4,1121998,blue loss,"Skarner , Rek'Sai",1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,...,blue loss,"Nautilus , Tahm Kench",0.75,9.375000,2.875000,26.166667,32.333333,8197.666667,4206.500000,0.0

In [6]:
master_df.replace('blue loss', 0, inplace=True)
master_df.replace('blue win', 1, inplace=True)

In [7]:
X = master_df.drop(['game_id', 'jg_result', 'mid_result', 'bot_result',
                   'sup_result', 'jg_matchup', 'top_matchup', 'bot_matchup', 
                   'mid_matchup', 'sup_matchup', 'top_result'], axis=1)
y = master_df['top_result'].values.reshape(-1, 1)

class_names = y

X.columns

Index(['jg_k', 'jg_a', 'jg_d', 'jg_cs', 'jg_op_cs', 'jg_gold', 'jg_damage',
       'jg_matchup_strength', 'top_k', 'top_a', 'top_d', 'top_cs', 'top_op_cs',
       'top_gold', 'top_damage', 'top_matchup_strength', 'mid_k', 'mid_a',
       'mid_d', 'mid_cs', 'mid_op_cs', 'mid_gold', 'mid_damage',
       'mid_matchup_strength', 'bot_k', 'bot_a', 'bot_d', 'bot_cs',
       'bot_op_cs', 'bot_gold', 'bot_damage', 'bot_matchup_strength', 'sup_k',
       'sup_a', 'sup_d', 'sup_cs', 'sup_op_cs', 'sup_gold', 'sup_damage',
       'sup_matchup_strength'],
      dtype='object')

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [10]:
classifier.fit(X_train, y_train)

y_pred = classifier.fit(X_train, y_train).predict(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8203592814371258
Testing Data Score: 0.5714285714285714

In [12]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 1 1 1 1 0 1 1 1 0]
First 10 Actual labels: [[1], [0], [1], [0], [1], [1], [1], [1], [1], [1]]

In [13]:
from sklearn.metrics import confusion_matrix

In [14]:
confusion_matrix(y_test, classifier.predict(X_test))

array([[ 3, 13],
       [11, 29]])

In [18]:
# Store filepath in a variable
file_a = "champion_stats_a.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
stats_book_a = pd.read_csv(file_a, encoding="ISO-8859-1")

stats_book_a.head()

   winner      loser   win  loss  matchup_strength
0  Aatrox      Akali   3.0   4.0              -2.0
1  Aatrox       Azir   3.0   1.0               4.0
2  Aatrox    Camille   7.0  10.0              -6.0
3  Aatrox      Fiora   7.0   6.0               2.0
4  Aatrox  Gangplank  11.0   5.0              12.0

In [19]:
# Store filepath in a variable
file_b = "champion_stats_b.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
stats_book_b = pd.read_csv(file_b, encoding="ISO-8859-1")

stats_book_b.head()

,matchup,kills,deaths,assists,csat15,oppcsat15,total_gold,damage
0,"Aatrox , Akali",3.333333,2.666667,8.333333,126.666667,136.000000,15355.000000,16049.333333
1,"Aatrox , Azir",4.333333,0.666667,9.000000,129.333333,137.666667,14094.666667,12629.000000
2,"Aatrox , Camille",4.285714,1.000000,4.714286,131.800000,124.000000,12278.800000,12691.200000
3,"Aatrox , Fiora",3.428571,1.142857,4.428571,129.250000,122.750000,13688.000000,14177.000000
4,"Aatrox , Gangplank",3.727273,1.272727,4.909091,139.375000,112.750000,15388.250000,17006.375000

In [20]:
X.head()

,jg_k,jg_a,jg_d,jg_cs,jg_op_cs,jg_gold,jg_damage,jg_matchup_strength,top_k,top_a,...,bot_damage,bot_matchup_strength,sup_k,sup_a,sup_d,sup_cs,sup_op_cs,sup_gold,sup_damage,sup_matchup_strength
0,1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,22.0,3.333333,8.333333,...,16006.714286,6.0,1.35,11.050000,1.750000,7.785714,23.428571,9414.214286,7493.714286,22.0
1,4.000000,9.500000,3.500000,101.0,107.500000,13534.000000,8771.000000,2.0,3.333333,8.333333,...,21408.750000,10.0,0.50,9.666667,3.000000,25.750000,6.000000,8316.000000,4139.750000,-2.0
2,2.250000,7.500000,1.500000,83.0,91.666667,11376.000000,10066.333333,-6.0,3.333333,8.333333,...,30339.000000,-4.0,0.80,11.600000,1.466667,5.692308,28.000000,9215.000000,6079.769231,2.0
3,5.000000,9.500000,2.000000,98.0,87.000000,15218.000000,24118.000000,0.0,3.000000,8.333333,...,14910.000000,0.0,0.50,11.700000,2.600000,24.500000,25.375000,9528.750000,4912.625000,2.0
4,1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,22.0,4.285714,4.714286,...,20170.875000,0.0,0.75,9.375000,2.875000,26.166667,32.333333,8197.666667,4206.500000,0.0

In [24]:
## try to build this function to use to study the datasets

def my_champions():
    
    blue_jungle_champ = input("enter the blue jungle side champion: ")
    red_jungle_champ = input("enter the red jungle side champion: ")
    blue_top_champ = input("enter the blue side top champion: ")
    red_top_champ = input("enter the red side top champion: ")
    blue_mid_champ = input("enter the blue side mid champion: ")
    red_mid_champ = input("enter the red side mid champion: ")
    blue_bot_champ = input("enter the blue side bot champion: ")
    red_bot_champ = input("enter the red side bot champion: ")
    blue_sup_champ = input("enter the blue side support champion: ")
    red_sup_champ = input("enter the red side support champion: ")
    
    connector = 'stack_here'
    
    ## pull values from dataframe
    
    blue_jungle = stats_book_a.loc[stats_book_a['winner'] == blue_jungle_champ]
    red_jungle = blue_jungle.loc[blue_jungle['loser'] == red_jungle_champ]
  
    red_jungle['matchup'] = red_jungle.winner.astype(str).str.cat(red_jungle.loser.astype(str), sep=" , ")
    master_jungle_df = red_jungle.drop(columns=['winner', 'loser', 'win', 'loss'])
    master_merged_jungle = pd.merge(master_jungle_df, stats_book_b, on='matchup')
    final_jungle = master_merged_jungle[['kills', 'assists', 'deaths', 'csat15', 'oppcsat15', 
                                   'total_gold', 'damage', 'matchup_strength']]
    final_jungle['stack'] = connector
    
    
    blue_top = stats_book_a.loc[stats_book_a['winner'] == blue_top_champ]
    red_top = blue_top.loc[blue_top['loser'] == red_top_champ] 
#     red_top['stack'] = connector
    red_top['matchup'] = red_top.winner.astype(str).str.cat(red_top.loser.astype(str), sep=" , ")
    master_top_df = red_top.drop(columns=['winner', 'loser', 'win', 'loss'])
    master_merged_top = pd.merge(master_top_df, stats_book_b, on='matchup')
    final_top = master_merged_top[['kills', 'assists', 'deaths', 'csat15', 'oppcsat15', 
                                   'total_gold', 'damage', 'matchup_strength']]
    
    
    blue_mid = stats_book_a.loc[stats_book_a['winner'] == blue_mid_champ]
    red_mid = blue_mid.loc[blue_mid['loser'] == red_mid_champ] 
#     red_mid['stack'] = connector
    red_mid['matchup'] = red_mid.winner.astype(str).str.cat(red_mid.loser.astype(str), sep=" , ")
    master_mid_df = red_mid.drop(columns=['winner', 'loser', 'win', 'loss'])
    master_merged_mid = pd.merge(master_mid_df, stats_book_b, on='matchup')
    final_mid = master_merged_mid[['kills', 'assists', 'deaths', 'csat15', 'oppcsat15', 
                                   'total_gold', 'damage', 'matchup_strength']]
    
    blue_bot = stats_book_a.loc[stats_book_a['winner'] == blue_bot_champ]
    red_bot = blue_bot.loc[blue_bot['loser'] == red_bot_champ] 
#     red_bot['stack'] = connector
    red_bot['matchup'] = red_bot.winner.astype(str).str.cat(red_bot.loser.astype(str), sep=" , ")
    master_bot_df = red_bot.drop(columns=['winner', 'loser', 'win', 'loss'])
    master_merged_bot = pd.merge(master_bot_df, stats_book_b, on='matchup')
    final_bot = master_merged_bot[['kills', 'assists', 'deaths', 'csat15', 'oppcsat15', 
                                   'total_gold', 'damage', 'matchup_strength']]
    
    blue_sup = stats_book_a.loc[stats_book_a['winner'] == blue_sup_champ]
    red_sup = blue_sup.loc[blue_sup['loser'] == red_sup_champ] 
#     red_sup['stack'] = connector
    red_sup['matchup'] = red_sup.winner.astype(str).str.cat(red_sup.loser.astype(str), sep=" , ")
    master_sup_df = red_sup.drop(columns=['winner', 'loser', 'win', 'loss'])
    master_merged_sup = pd.merge(master_sup_df, stats_book_b, on='matchup')
    final_sup = master_merged_sup[['kills', 'assists', 'deaths', 'csat15', 'oppcsat15', 
                                   'total_gold', 'damage', 'matchup_strength']]
 
    final_top['stack'] = connector
    final_mid['stack'] = connector
    final_bot['stack'] = connector
    final_sup['stack'] = connector
    #merge the datapoints
    
    merge_1 = pd.merge(final_jungle, final_top, on='stack')
    
    merge_2 = pd.merge(merge_1, final_mid, on='stack')
    
    merge_3 = pd.merge(merge_2, final_bot, on='stack')
    
    final_df = pd.merge(merge_3, final_sup, on='stack')
    
    real_X = final_df.drop(['stack'], axis=1)
    
    return classifier.predict(real_X)

In [25]:
my_champions()

enter the blue jungle side champion: Jarvan IV
enter the red jungle side champion: Rek'Sai
enter the blue side top champion: Aatrox
enter the red side top champion: Akali
enter the blue side mid champion: Azir
enter the red side mid champion: Corki
enter the blue side bot champion: Caitlyn
enter the red side bot champion: Sivir
enter the blue side support champion: Morgana
enter the red side support champion: Rakan

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array([0])

In [26]:
X.head()

,jg_k,jg_a,jg_d,jg_cs,jg_op_cs,jg_gold,jg_damage,jg_matchup_strength,top_k,top_a,...,bot_damage,bot_matchup_strength,sup_k,sup_a,sup_d,sup_cs,sup_op_cs,sup_gold,sup_damage,sup_matchup_strength
0,1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,22.0,3.333333,8.333333,...,16006.714286,6.0,1.35,11.050000,1.750000,7.785714,23.428571,9414.214286,7493.714286,22.0
1,4.000000,9.500000,3.500000,101.0,107.500000,13534.000000,8771.000000,2.0,3.333333,8.333333,...,21408.750000,10.0,0.50,9.666667,3.000000,25.750000,6.000000,8316.000000,4139.750000,-2.0
2,2.250000,7.500000,1.500000,83.0,91.666667,11376.000000,10066.333333,-6.0,3.333333,8.333333,...,30339.000000,-4.0,0.80,11.600000,1.466667,5.692308,28.000000,9215.000000,6079.769231,2.0
3,5.000000,9.500000,2.000000,98.0,87.000000,15218.000000,24118.000000,0.0,3.000000,8.333333,...,14910.000000,0.0,0.50,11.700000,2.600000,24.500000,25.375000,9528.750000,4912.625000,2.0
4,1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,22.0,4.285714,4.714286,...,20170.875000,0.0,0.75,9.375000,2.875000,26.166667,32.333333,8197.666667,4206.500000,0.0