In [1]:
#this code creates and cleans the data and uploads it to a mySQL database;
#import dependencies
# Dependencies
import json
import requests
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
df_1 = pd.read_excel('2019_summer.xlsx', sheet_name='Sheet1')

In [3]:
df_2019_summer = pd.DataFrame(df_1)

df_2019_summer.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,1,Blue,...,-668.0,4453.0,5258.0,-805.0,72.0,89.0,-17.0,127.0,152.0,-25.0
1,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,2,Blue,...,546.0,3876.0,3255.0,621.0,69.0,60.0,9.0,110.0,93.0,17.0
2,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,3,Blue,...,402.0,4973.0,4549.0,424.0,83.0,86.0,-3.0,139.0,145.0,-6.0
3,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,4,Blue,...,406.0,3275.0,3002.0,273.0,95.0,67.0,28.0,148.0,122.0,26.0
4,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,5,Blue,...,-15.0,2683.0,2557.0,126.0,15.0,14.0,1.0,24.0,23.0,1.0

In [4]:
df_2019_summer.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k', 'd', 'a',
       'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas',
       'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [5]:
df_2019_summer_sorted = df_2019_summer.loc[df_2019_summer['playerid'].isin([100, 200])]

df_2019_summer_cleaned = df_2019_summer_sorted.dropna()

In [48]:
df_2019_summer_cleaned.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
10,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,100,Blue,...,671.0,19260.0,18621.0,639.0,334.0,316.0,18.0,548.0,535.0,13.0
11,1092338,http://matchhistory.na.leagueoflegends.com/en/...,LCS,2019-2,43617.6,1.0,1,9.1,200,Red,...,-671.0,18621.0,19260.0,-639.0,316.0,334.0,-18.0,535.0,548.0,-13.0
22,1092362,https://matchhistory.na.leagueoflegends.com/en...,LCS,2019-2,43617.7,1.0,1,9.1,100,Blue,...,4373.0,19015.0,18226.0,789.0,316.0,335.0,-19.0,509.0,506.0,3.0
23,1092362,https://matchhistory.na.leagueoflegends.com/en...,LCS,2019-2,43617.7,1.0,1,9.1,200,Red,...,-4373.0,18226.0,19015.0,-789.0,335.0,316.0,19.0,506.0,509.0,-3.0
34,1092372,https://matchhistory.na.leagueoflegends.com/en...,LCS,2019-2,43617.7,1.0,1,9.1,100,Blue,...,3557.0,19284.0,18656.0,628.0,322.0,305.0,17.0,512.0,470.0,42.0

In [7]:
## now to get the 2019 spring matches

df_2 = pd.read_excel('2019_spring.xlsx', sheet_name='Sheet1')

df_2019_spring = pd.DataFrame(df_2)

df_2019_spring.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k', 'd', 'a',
       'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas',
       'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [8]:
df_2019_spring_sorted = df_2019_spring.loc[df_2019_spring['playerid'].isin([100, 200])]

df_2019_spring_cleaned = df_2019_spring_sorted.dropna()

In [9]:
df_2019_spring_cleaned.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
10,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,100,Blue,...,-2047.0,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0
11,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,200,Red,...,2047.0,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0
22,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,Blue,...,-1312.0,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0
23,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,200,Red,...,1312.0,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0
34,980590,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,Blue,...,-68.0,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0

In [10]:
## now to get the 2018 summer matches

df_3 = pd.read_excel('2018_summer.xlsx', sheet_name='Sheet1')

df_2018_summer = pd.DataFrame(df_3)

df_2018_summer.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k', 'd', 'a',
       'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas',
       'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [11]:
df_2018_summer_sorted = df_2018_summer.loc[df_2018_summer['playerid'].isin([100, 200])]

In [12]:
df_2018_summer_cleaned = df_2018_summer_sorted.dropna()

In [13]:
df_2018_summer_cleaned.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
22,1002570087,https://matchhistory.na.leagueoflegends.com/en...,EULCS,2018-2,43274.5,2,2,8.12,100,Blue,...,2832.0,18379.0,17670.0,709.0,321.0,285.0,36.0,525.0,486.0,39.0
23,1002570087,https://matchhistory.na.leagueoflegends.com/en...,EULCS,2018-2,43274.5,2,2,8.12,200,Red,...,-2832.0,17670.0,18379.0,-709.0,285.0,321.0,-36.0,486.0,525.0,-39.0
34,730084,https://matchhistory.br.leagueoflegends.com/pt...,CBLoL,2018-2,43260.5,1.1,1,8.11,100,Blue,...,-74.0,17439.0,18615.0,-1176.0,272.0,315.0,-43.0,450.0,518.0,-68.0
35,730084,https://matchhistory.br.leagueoflegends.com/pt...,CBLoL,2018-2,43260.5,1.1,1,8.11,200,Red,...,74.0,18615.0,17439.0,1176.0,315.0,272.0,43.0,518.0,450.0,68.0
46,730095,https://matchhistory.br.leagueoflegends.com/pt...,CBLoL,2018-2,43260.5,1.1,2,8.11,100,Blue,...,1761.0,18369.0,17206.0,1163.0,306.0,289.0,17.0,493.0,489.0,4.0

In [14]:
## now to get the 2018 summer matches

df_4 = pd.read_excel('2018_spring.xlsx', sheet_name='Sheet1')

df_2018_spring = pd.DataFrame(df_4)

df_2018_spring.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k', 'd', 'a',
       'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas',
       'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [15]:
df_2018_spring_sorted = df_2018_spring.loc[df_2018_spring['playerid'].isin([100, 200])]

In [16]:
df_2018_spring_cleaned = df_2018_spring_sorted.dropna()

In [17]:
df_2018_spring_cleaned.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
10,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,100,Blue,...,-55.0,19103.0,17702.0,1401.0,354.0,331.0,23.0,560.0,572.0,-12.0
11,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,200,Red,...,55.0,17702.0,19103.0,-1401.0,331.0,354.0,-23.0,572.0,560.0,12.0
22,550247,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.2,1.1,2,8.01,100,Blue,...,-1402.0,19035.0,19811.0,-776.0,355.0,375.0,-20.0,561.0,600.0,-39.0
23,550247,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.2,1.1,2,8.01,200,Red,...,1402.0,19811.0,19035.0,776.0,375.0,355.0,20.0,600.0,561.0,39.0
34,550268,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.2,1.1,1,8.01,100,Blue,...,-78.0,19772.0,18473.0,1299.0,349.0,338.0,11.0,581.0,557.0,24.0

In [18]:
## now to get the 2017 matches

df_5 = pd.read_excel('2017.xlsx', sheet_name='Sheet1')

df_2017 = pd.DataFrame(df_5)

df_2017.columns

Index(['gameid', 'url', 'league', 'split', 'date', 'week', 'game', 'patchno',
       'playerid', 'side', 'position', 'player', 'team', 'champion', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k', 'd', 'a',
       'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras', 'pentas',
       'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm', 'fd',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [25]:
df_2017_sorted = df_2017.loc[df_2017['playerid'].isin([100, 200])]

In [26]:
df_2017_cleaned = df_2017_sorted.dropna()

In [27]:
df_2017_cleaned.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
10,1002300127,http://matchhistory.na.leagueoflegends.com/en/...,NALCS,2017-2,42953.7,9.3,3,7.15,100,Blue,...,-3854.0,18625.0,18807.0,-182.0,307.0,305.0,2.0,473.0,488.0,-15.0
11,1002300127,http://matchhistory.na.leagueoflegends.com/en/...,NALCS,2017-2,42953.7,9.3,3,7.15,200,Red,...,3854.0,18807.0,18625.0,182.0,305.0,307.0,-2.0,488.0,473.0,15.0
118,240145,http://matchhistory.na.leagueoflegends.com/en/...,NACS,2017-2,42929.7,5.2,1,7.13,100,Blue,...,-1283.0,17739.0,18289.0,-550.0,293.0,310.0,-17.0,469.0,485.0,-16.0
119,240145,http://matchhistory.na.leagueoflegends.com/en/...,NACS,2017-2,42929.7,5.2,1,7.13,200,Red,...,1283.0,18289.0,17739.0,550.0,310.0,293.0,17.0,485.0,469.0,16.0
154,240148,http://matchhistory.na.leagueoflegends.com/en/...,NACS,2017-2,42929.7,5.2,2,7.13,100,Blue,...,4830.0,19356.0,17993.0,1363.0,297.0,285.0,12.0,478.0,473.0,5.0

In [28]:
dfs = [df_2019_spring_cleaned, df_2019_summer_cleaned,
      df_2018_summer_cleaned, df_2018_spring_cleaned,
      df_2017_cleaned]

result = pd.concat(dfs).reset_index()

In [29]:
result.head()

,index,gameid,url,league,split,date,week,game,patchno,playerid,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,10,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,100,...,-2047.0,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0
1,11,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,200,...,2047.0,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0
2,22,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,...,-1312.0,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0
3,23,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,200,...,1312.0,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0
4,34,980590,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,...,-68.0,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0

In [30]:
result.columns

Index(['index', 'gameid', 'url', 'league', 'split', 'date', 'week', 'game',
       'patchno', 'playerid', 'side', 'position', 'player', 'team', 'champion',
       'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'k',
       'd', 'a', 'teamkills', 'teamdeaths', 'doubles', 'triples', 'quadras',
       'pentas', 'fb', 'fbassist', 'fbvictim', 'fbtime', 'kpm', 'okpm', 'ckpm',
       'fd', 'fdtime', 'teamdragkills', 'oppdragkills', 'elementals',
       'oppelementals', 'firedrakes', 'waterdrakes', 'earthdrakes',
       'airdrakes', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute', 'dmgshare',
       'earnedgoldshare', 'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
       'visionwards', 'visionwardbuys', 'visiblewardclearrate',
       'invisiblewardclearrate', 'totalgold', 'earnedgpm', 'goldspent', 'gspd',
       'minionkills', 'monsterkills', 'monsterkillsownjungle',
       'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
       'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
       'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'],
      dtype='object')

In [31]:
raw_combined_df = result[['gameid', 'league', 'playerid', 'side', 'gamelength', 'team',
                        'result', 'teamkills', 'teamdeaths', 'a', 'fb', 'fbtime', 
                        'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'herald', 'heraldtime', 'ft',
                       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
                        'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
                        'oppbaronkills', 'dmgtochamps', 'dmgtochampsperminute',
                        'wards', 'wpm', 'wardshare', 'wardkills', 'wcpm',
                         'visionwards', 'totalgold', 'minionkills', 'monsterkills', 'monsterkillsownjungle',
                         'monsterkillsenemyjungle', 'cspm', 'goldat10', 'oppgoldat10', 'gdat10',
                         'goldat15', 'oppgoldat15', 'gdat15', 'xpat10', 'oppxpat10', 'xpdat10',
                         'csat10', 'oppcsat10', 'csdat10', 'csat15', 'oppcsat15', 'csdat15'
                        ]]

In [32]:
raw_combined_df.head()

,gameid,league,playerid,side,gamelength,team,result,teamkills,teamdeaths,a,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,980560,LEC,100,Blue,30.816667,Fnatic,0,12.0,11.0,26.0,...,-2047.0,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0
1,980560,LEC,200,Red,30.816667,SK Gaming,1,11.0,12.0,23.0,...,2047.0,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0
2,980572,LEC,100,Blue,38.166667,Splyce,1,16.0,6.0,43.0,...,-1312.0,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0
3,980572,LEC,200,Red,38.166667,Excel Esports,0,6.0,16.0,16.0,...,1312.0,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0
4,980590,LEC,100,Blue,31.600000,Vitality,0,8.0,12.0,16.0,...,-68.0,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0

In [33]:
#combine side and result so that i can measure blue side success

raw_combined_df['blue_result'] = raw_combined_df.side.astype(str).str.cat(raw_combined_df.result.astype(str), sep=" , ")

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
master_df = raw_combined_df.drop(['side', 'result'], axis=1)

master_df.head()

,gameid,league,playerid,gamelength,team,teamkills,teamdeaths,a,fb,fbtime,...,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15,blue_result
0,980560,LEC,100,30.816667,Fnatic,12.0,11.0,26.0,0,5.3722,...,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0,"Blue , 0"
1,980560,LEC,200,30.816667,SK Gaming,11.0,12.0,23.0,1,5.3722,...,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0,"Red , 1"
2,980572,LEC,100,38.166667,Splyce,16.0,6.0,43.0,1,6.99108,...,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0,"Blue , 1"
3,980572,LEC,200,38.166667,Excel Esports,6.0,16.0,16.0,0,6.99108,...,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0,"Red , 0"
4,980590,LEC,100,31.600000,Vitality,8.0,12.0,16.0,0,4.06207,...,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0,"Blue , 0"

In [35]:
#replace the values to a cleaner name

master_df.replace('Blue , 0', 'blue loss', inplace=True)
master_df.replace('Blue , 1', 'blue win', inplace=True)
master_df.replace('Red , 1', 'blue loss', inplace=True)
master_df.replace('Red , 0', 'blue win', inplace=True)

In [36]:
master_df.head()

,gameid,league,playerid,gamelength,team,teamkills,teamdeaths,a,fb,fbtime,...,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15,blue_result
0,980560,LEC,100,30.816667,Fnatic,12.0,11.0,26.0,0,5.372200,...,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0,blue loss
1,980560,LEC,200,30.816667,SK Gaming,11.0,12.0,23.0,1,5.372200,...,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0,blue loss
2,980572,LEC,100,38.166667,Splyce,16.0,6.0,43.0,1,6.991083,...,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0,blue win
3,980572,LEC,200,38.166667,Excel Esports,6.0,16.0,16.0,0,6.991083,...,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0,blue win
4,980590,LEC,100,31.600000,Vitality,8.0,12.0,16.0,0,4.062067,...,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0,blue loss

In [37]:
# master_df.sort_values('gameid', inplace=True)

master_df.drop_duplicates(subset='gameid', inplace=True)

In [38]:
master_df.head()

,gameid,league,playerid,gamelength,team,teamkills,teamdeaths,a,fb,fbtime,...,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15,blue_result
0,980560,LEC,100,30.816667,Fnatic,12.0,11.0,26.0,0,5.372200,...,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0,blue loss
2,980572,LEC,100,38.166667,Splyce,16.0,6.0,43.0,1,6.991083,...,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0,blue win
4,980590,LEC,100,31.600000,Vitality,8.0,12.0,16.0,0,4.062067,...,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0,blue loss
6,990708,LEC,100,24.550000,Rogue,3.0,12.0,6.0,0,2.490617,...,18476.0,18799.0,-323.0,329.0,316.0,13.0,497.0,490.0,7.0,blue loss
7,990721,LEC,100,27.233333,Origen,5.0,19.0,6.0,1,8.510200,...,19635.0,19598.0,37.0,344.0,339.0,5.0,524.0,537.0,-13.0,blue loss

In [39]:
############ create a 10 min game dataframe

game_10_min_df = result[['gameid', 'league', 'playerid', 'side', 'gamelength', 'team',
                        'result', 'goldat10', 'oppgoldat10', 'gdat10',
                         'xpat10', 'oppxpat10', 'xpdat10', 'csat10', 'oppcsat10', 'csdat10'
                        ]]

In [40]:
game_10_min_df['blue_result'] = game_10_min_df.side.astype(str).str.cat(game_10_min_df.result.astype(str), sep=" , ")

game_10_min_df.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,gameid,league,playerid,side,gamelength,team,result,goldat10,oppgoldat10,gdat10,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,blue_result
0,980560,LEC,100,Blue,30.816667,Fnatic,0,15304.0,16764.0,-1460.0,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,"Blue , 0"
1,980560,LEC,200,Red,30.816667,SK Gaming,1,16764.0,15304.0,1460.0,19689.0,18459.0,1230.0,350.0,334.0,16.0,"Red , 1"
2,980572,LEC,100,Blue,38.166667,Splyce,1,14971.0,15578.0,-607.0,17729.0,18782.0,-1053.0,302.0,292.0,10.0,"Blue , 1"
3,980572,LEC,200,Red,38.166667,Excel Esports,0,15578.0,14971.0,607.0,18782.0,17729.0,1053.0,292.0,302.0,-10.0,"Red , 0"
4,980590,LEC,100,Blue,31.600000,Vitality,0,15724.0,16456.0,-732.0,19198.0,19628.0,-430.0,326.0,332.0,-6.0,"Blue , 0"

In [41]:
master_10_min_df = game_10_min_df.drop(['side', 'result'], axis=1)

# master_df.sort_values('gameid', inplace=True)

master_10_min_df.drop_duplicates(subset='gameid', inplace=True)



# Export file as a CSV, without the Pandas index, but with the header
master_10_min_df.to_csv("master_10_min_data.csv", index=False, header=True)

In [44]:
# Export file as a CSV, without the Pandas index, but with the header
master_df.to_csv("2019_machine_learning_data.csv", index=False, header=True)

In [45]:
### now to read my champion book dataframe and try to apply champion-specific stats to each matchup


# Store filepath in a variable
champion_path = "champion_matchups_2019_table.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
champion_stats_book = pd.read_csv(champion_path, encoding="ISO-8859-1")

In [46]:
champion_stats_book.head()

,game_id,jg_result,jg_matchup,jg_k,jg_a,jg_d,jg_cs,jg_op_cs,jg_gold,jg_damage,...,sup_result,sup_matchup,sup_k,sup_a,sup_d,sup_cs,sup_op_cs,sup_gold,sup_damage,sup_matchup_strength
0,1131400,blue win,"Skarner , Rek'Sai",1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,...,blue win,"Lux , Nautilus",1.35,11.050000,1.750000,7.785714,23.428571,9414.214286,7493.714286,22.0
1,1144855,blue win,"Jarvan IV , Hecarim",4.000000,9.500000,3.500000,101.0,107.500000,13534.000000,8771.000000,...,blue win,"Galio , Rakan",0.50,9.666667,3.000000,25.750000,6.000000,8316.000000,4139.750000,-2.0
2,1092075,blue win,"Gragas , Jarvan IV",2.250000,7.500000,1.500000,83.0,91.666667,11376.000000,10066.333333,...,blue win,"Rakan , Tahm Kench",0.80,11.600000,1.466667,5.692308,28.000000,9215.000000,6079.769231,2.0
3,1124632,blue win,"Gragas , Sylas",5.000000,9.500000,2.000000,98.0,87.000000,15218.000000,24118.000000,...,blue win,"Braum , Nautilus",0.50,11.700000,2.600000,24.500000,25.375000,9528.750000,4912.625000,2.0
4,1121998,blue loss,"Skarner , Rek'Sai",1.916667,7.166667,0.916667,90.0,93.583333,11273.416667,4207.666667,...,blue loss,"Nautilus , Tahm Kench",0.75,9.375000,2.875000,26.166667,32.333333,8197.666667,4206.500000,0.0

In [47]:
dfs_2019 = [df_2019_spring_cleaned, df_2019_summer_cleaned]

results_2019 = pd.concat(dfs_2019).reset_index()

results_2019.head()

,index,gameid,url,league,split,date,week,game,patchno,playerid,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,10,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,100,...,-2047.0,18459.0,19689.0,-1230.0,334.0,350.0,-16.0,554.0,562.0,-8.0
1,11,980560,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.5,1,1,9.01,200,...,2047.0,19689.0,18459.0,1230.0,350.0,334.0,16.0,562.0,554.0,8.0
2,22,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,...,-1312.0,17729.0,18782.0,-1053.0,302.0,292.0,10.0,476.0,489.0,-13.0
3,23,980572,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,200,...,1312.0,18782.0,17729.0,1053.0,292.0,302.0,-10.0,489.0,476.0,13.0
4,34,980590,https://matchhistory.euw.leagueoflegends.com/e...,LEC,2019-1,43483.6,1,1,9.01,100,...,-68.0,19198.0,19628.0,-430.0,326.0,332.0,-6.0,530.0,529.0,1.0